{
  "name": "Matugen Sync",
  "type": "dark",
  "colors": {
    "primary": "{{ primary_nohash }}",
    "onPrimary": "{{ on_primary_nohash }}",
    "primaryContainer": "{{ primary_container_nohash }}",
    "onPrimaryContainer": "{{ on_primary_container_nohash }}",
    "secondary": "{{ secondary_nohash }}",
    "onSecondary": "{{ on_secondary_nohash }}",
    "secondaryContainer": "{{ secondary_container_nohash }}",
    "onSecondaryContainer": "{{ on_secondary_container_nohash }}",
    "tertiary": "{{ tertiary_nohash }}",
    "onTertiary": "{{ on_tertiary_nohash }}",
    "tertiaryContainer": "{{ tertiary_container_nohash }}",
    "onTertiaryContainer": "{{ on_tertiary_container_nohash }}",
    "error": "{{ error_nohash }}",
    "onError": "{{ on_error_nohash }}",
    "errorContainer": "{{ error_container_nohash }}",
    "onErrorContainer": "{{ on_error_container_nohash }}",
    "background": "{{ background_nohash }}",
    "onBackground": "{{ on_background_nohash }}",
    "surface": "{{ surface_nohash }}",
    "onSurface": "{{ on_surface_nohash }}",
    "surfaceVariant": "{{ surface_variant_nohash }}",
    "onSurfaceVariant": "{{ on_surface_variant_nohash }}",
    "outline": "{{ outline_nohash }}",
    "shadow": "{{ shadow_nohash }}"
  }
}
