[Matugen]
text               = {{ on_background_nohash }}
subtext            = {{ on_surface_variant_nohash }}
main               = {{ background_nohash }}
main-elevated      = {{ surface_nohash }}
highlight          = {{ surface_variant_nohash }}
sidebar            = {{ background_nohash }}
player             = {{ surface_nohash }}
card               = {{ surface_variant_nohash }}
shadow             = {{ shadow_nohash }}
selected-row       = {{ primary_nohash }}
button             = {{ primary_nohash }}
button-disabled    = {{ on_surface_variant_nohash }}
tab-active         = {{ primary_nohash }}
notification       = {{ primary_container_nohash }}
notification-error = {{ error_nohash }}
misc               = {{ on_primary_nohash }}
