:root {
    --theme-color: "Matugen";
    --hue-rotate: 0deg;
    --md-sys-color-primary: rgb({{ primary | hex_to_rgb }});
    --md-sys-color-surface-tint: rgb({{ primary | hex_to_rgb }});
    --md-sys-color-on-primary: rgb({{ on_primary | hex_to_rgb }});
    --md-sys-color-primary-container: rgb({{ primary_container | hex_to_rgb }});
    --md-sys-color-on-primary-container: rgb({{ on_primary_container | hex_to_rgb }});
    --md-sys-color-secondary: rgb({{ secondary | hex_to_rgb }});
    --md-sys-color-on-secondary: rgb({{ on_secondary | hex_to_rgb }});
    --md-sys-color-secondary-container: rgb({{ secondary_container | hex_to_rgb }});
    --md-sys-color-on-secondary-container: rgb({{ on_secondary_container | hex_to_rgb }});
    --md-sys-color-tertiary: rgb({{ tertiary | hex_to_rgb }});
    --md-sys-color-on-tertiary: rgb({{ on_tertiary | hex_to_rgb }});
    --md-sys-color-tertiary-container: rgb({{ tertiary_container | hex_to_rgb }});
    --md-sys-color-on-tertiary-container: rgb({{ on_tertiary_container | hex_to_rgb }});
    --md-sys-color-error: rgb({{ error | hex_to_rgb }});
    --md-sys-color-on-error: rgb({{ on_error | hex_to_rgb }});
    --md-sys-color-error-container: rgb({{ error_container | hex_to_rgb }});
    --md-sys-color-on-error-container: rgb({{ on_error_container | hex_to_rgb }});
    --md-sys-color-background: rgb({{ background | hex_to_rgb }});
    --md-sys-color-on-background: rgb({{ on_background | hex_to_rgb }});
    --md-sys-color-surface: rgb({{ surface | hex_to_rgb }});
    --md-sys-color-on-surface: rgb({{ on_surface | hex_to_rgb }});
    --md-sys-color-surface-variant: rgb({{ surface_variant | hex_to_rgb }});
    --md-sys-color-on-surface-variant: rgb({{ on_surface_variant | hex_to_rgb }});
    --md-sys-color-outline: rgb({{ outline | hex_to_rgb }});
    --md-sys-color-outline-variant: rgb({{ outline_variant | hex_to_rgb }});
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb({{ inverse_surface | hex_to_rgb }});
    --md-sys-color-inverse-on-surface: rgb({{ inverse_on_surface | hex_to_rgb }});
    --md-sys-color-inverse-primary: rgb({{ inverse_primary | hex_to_rgb }});
}
