/**
 * @name Midnight Matugen
 * @description A dark, rounded discord theme with matugen dynamic colors.
 * @author refact0r, Zatch07
 * @version 1.6.2
 */

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

:root {
	--font: 'JetBrainsMono Nerd Font';
	--corner-text: 'Midnight';

	--online-indicator: {{ tertiary }};
	--dnd-indicator: {{ error }};
	--idle-indicator: {{ tertiary }};
	--streaming-indicator: {{ primary_fixed }};

	--accent-1: {{ tertiary }};
	--accent-2: {{ primary }};
	--accent-3: {{ primary }};
	--accent-4: {{ primary_container }};
	--accent-5: {{ primary_fixed }};
	--mention: {{ primary_container }};
	--mention-hover: {{ surface_container_high }};

	--text-0: {{ on_primary }};
	--text-1: {{ on_surface }};
	--text-2: {{ on_surface }};
	--text-3: {{ on_surface_variant }};
	--text-4: {{ on_surface_variant }};
	--text-5: {{ outline }};

	--bg-1: {{ primary_container }};
	--bg-2: {{ surface_container_high }};
	--bg-3: {{ surface_container }};
	--bg-4: {{ surface }};
	--hover: {{ primary_container }};
	--active: {{ primary }};
	--message-hover: {{ primary_container }};

	--border-thickness: 1px;
	--border: {{ outline }};
	--border-light: {{ outline }};
	--button-border: transparent;

	--spacing: 12px;
	--roundness-xl: 22px;
	--roundness-l: 20px;
	--roundness-m: 16px;
	--roundness-s: 12px;
	--roundness-xs: 10px;
	--roundness-xxs: 8px;
}
