{
    "name": "Matugen Sync",
    "foreground": "{{ on_surface }}",
    "background": "{{ background }}",
    "cursorColor": "{{ primary }}",
    "selectionBackground": "{{ primary_container }}",
    "black": "{{ surface }}",
    "red": "{{ error }}",
    "green": "{{ tertiary }}",
    "yellow": "{{ primary }}",
    "blue": "{{ primary }}",
    "magenta": "{{ secondary }}",
    "cyan": "{{ tertiary }}",
    "white": "{{ on_surface }}",
    "brightBlack": "{{ surface_variant }}",
    "brightRed": "{{ error }}",
    "brightGreen": "{{ tertiary }}",
    "brightYellow": "{{ primary }}",
    "brightBlue": "{{ primary }}",
    "brightMagenta": "{{ secondary }}",
    "brightCyan": "{{ tertiary }}",
    "brightWhite": "{{ on_background }}"
}
